<div class="container mt-5">
  <h1><%= I18n.t('menus.edit_menu') %>: <%= @menu.name %></h1>

  <%= form_with(model: [current_user.restaurant, @menu], local: true) do |f| %>

    <div class="form-group">
      <h4><%= I18n.t('dishes.select_dishes') %></h4>
      <% @dishes.each do |dish| %>
        <div class="form-check">
          <%= check_box_tag "dish_ids[]", dish.id, (params[:dish_ids]&.include?(dish.id.to_s) || @menu.dishes.include?(dish)), class: "form-check-input" %>
          <%= label_tag "dish_ids_#{dish.id}", dish.name, class: "form-check-label" %>
        </div>
      <% end %>
    </div>

    <div class="form-group">
      <h4><%= I18n.t('drinks.select_drinks') %></h4>
      <% @drinks.each do |drink| %>
        <div class="form-check">
          <%= check_box_tag "drink_ids[]", drink.id, (params[:drink_ids]&.include?(drink.id.to_s) || @menu.drinks.include?(drink)), class: "form-check-input" %>
          <%= label_tag "drink_ids_#{drink.id}", drink.name, class: "form-check-label" %>
        </div>
      <% end %>
    </div>

    <div class="form-group mt-3">
      <%= f.submit I18n.t('menus.save_menu'), class: "btn btn-primary" %>
    </div>
    
  <% end %>
</div>