<div>
  <%= link_to I18n.t('menus.new_menus'), new_restaurant_menu_path(current_user.restaurant) %>
  <%= link_to I18n.t('orders.new_order'), new_restaurant_order_path(current_user.restaurant) %>
  <%= link_to I18n.t('orders.order_history'), restaurant_orders_path(current_user.restaurant) %>
</div>

<% if @menus.present?%>
  <div>
    <ul>
      <% @menus.each do |menu| %>
        <li>
          <h3> <%= menu.name %> <%= link_to "#{I18n.t('menus.add_item_to')} #{menu.name}", edit_restaurant_menu_path( current_user.restaurant, menu.id) %></h3>
         
          <% menu.dishes.each do |dish| %>
            <table>
              <thead>
                <tr>
                  <h4><%= dish.name %></h4>
                  <th><%= I18n.t('portions.description_of')%></th>
                  <th><%= I18n.t('.price')%></th>
                </tr>
              </thead>
              <tbody>
                <% dish.portions.each do |portion| %>
                  <tr>
                    <td><%= portion.description %></td>
                    <td><%= portion.price_whole %>,<%= portion.price_cents %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>
          <% end %>
          <br>
          <% menu.drinks.each do |drink| %>            
            <table>
              <thead>
                <tr>
                  <h4><%= drink.name %></h4>
                  <th><%= I18n.t('portions.description_of')%></th>
                  <th><%= I18n.t('.price')%></th>
                </tr>
              </thead>
              <tbody>
                <% drink.portions.each do |portion| %>
                  <tr>
                    <td><%= portion.description %></td>
                    <td><%= portion.price_whole %>,<%= portion.price_cents %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p><%= I18n.t('menus.no_menus') %></p>
<% end %>

