<div>
  <%= link_to 'Cadastrar Cardápio', new_restaurant_menu_path(current_user.restaurant) %>
  <%= link_to 'Novo Pedido', new_restaurant_order_path(current_user.restaurant) %>
  <%= link_to 'Histórico de Pedidos', restaurant_orders_path(current_user.restaurant) %>
 

</div>
<p></p>
<% if @menus.present?%>
  <div>
    <ul>
      <% @menus.each do |menu| %>
        <li>
          <h3> <%= menu.name %> <%= link_to "Adicionar item ao #{menu.name}", edit_restaurant_menu_path( current_user.restaurant, menu.id) %></h3>
         
          <% menu.dishes.each do |dish| %>
            <table>
              <thead>
                <tr>
                  <h4><%= dish.name %></h4>
                  <th>Descrição da Porção</th>
                  <th>Preço</th>
                </tr>
              </thead>
              <tbody>
                <% dish.portions.each do |portion| %>
                  <tr>
                    <td><%= portion.description %></td>
                    <td><%= portion.price_whole %>,<%= portion.price_cents %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>
          <% end %>
          <br>
          <% menu.drinks.each do |drink| %>            
            <table>
              <thead>
                <tr>
                  <h4><%= drink.name %></h4>
                  <th>Descrição da Porção</th>
                  <th>Preço</th>
                </tr>
              </thead>
              <tbody>
                <% drink.portions.each do |portion| %>
                  <tr>
                    <td><%= portion.description %></td>
                    <td><%= portion.price_whole %>,<%= portion.price_cents %> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>Não há cardapios cadastrados para este restaurante</p>
<% end %>

