<h1><%= I18n.t('menus.new.new_menu')%>:</h1>

<%= form_with(model: [@restaurant, @menu] ) do |f|%>
  <div>
    <dl>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name, required: true%></dd>
    </dl>
    <%= f.submit I18n.t('menus.new.save_menu')%>
  </div>
<% end %>