
<% if @employees.present? %> 
  <table>
    <thead>
    <tr>
        <th> ID </th>
        <th> <%= Dish.human_attribute_name(:email)%> </th>
        <th> CPF </th>
    </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
      
        <tr>
          <td><%= employee.id %> </td>
          <td><%= employee.email %> </td>
          <td><%= employee.cpf %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= I18n.t('employees.no_employee')%></p>
<% end %>
