<h1><%= I18n.t('employees.new_employee')%>:</h1>

<%= form_with(model:[@restaurant, @employee]) do |f| %>
  <div>
    <%= f.label :email, 'E-mail'%>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :cpf, 'CPF'%>
    <%= f.text_field :cpf %>
  </div>
  <%= f.submit I18n.t('employees.save_employee') %>
<% end %>