<h1><%= I18n.t('drinks.add_info')%>: </h1>
<% if @drink.errors.any? %>
  <ul>
    <% @drink.errors.full_messages.each do |msg | %>
    <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: [current_user.restaurant, @drink]) do |f| %>
  <ul>
    <li><%= f.label :name %> <%= f.text_field :name %></li>
    <li><%= f.label :description%> <%= f.text_field :description %></li>
    <li><%= f.label :alcohol %> <%= f.check_box :alcohol %></li>
    <li><%= f.label Drink.human_attribute_name(:image) %> 
    <% if @drink.image.attached? %> <%= f.file_field :image %>
      <%= image_tag @drink.image, size: "100x100", alt: @drink.name %>
    <% else %>
      <p><%= I18n.t('.no_img')%></p>
    <% end %></li>
    <% @drink.features.each do |drink_feature|%>
      <li><%= I18n.t('.contains')%>: <%= drink_feature.name %></li>
    <% end %>
    
  <p><%= I18n.t('.add_feature')%></p>
  <div>
    <% @features.each do |feature| %>
      <div>
        <%= check_box_tag "feature_ids[]", feature.id, params[:feature_ids]&.include?(feature.id.to_s) %>
        <%= label_tag "feature_ids_#{feature.id}", feature.name %>
      </div>
    <% end %>
  </div>
  <%= f.submit I18n.t('drinks.save_drink')%>
<% end %>
  <%= button_to I18n.t('drinks.del_drink'), restaurant_drink_path(current_user.restaurant, @drink ), method: :delete %> 