<h1>Adicione as informações da bebida: </h1>
<% if @drink.errors.any? %>
  <ul>
    <% @drink.errors.full_messages.each do |msg | %>
    <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: [current_user.restaurant, @drink]) do |f| %>
  <ul>
    <li><%= f.label :name %> <%= f.text_field :name %></li>
    <li><%= f.label :description%> <%= f.text_field :description %></li>
    <li><%= f.label :alcohol %> <%= f.check_box :alcohol %></li>
    <li><%= f.label :image %> 
    <% if @drink.image.attached? %> <%= f.file_field :image %>
      <%= image_tag @drink.image, size: "100x100", alt: @drink.name %>
    <% else %>
      <p>Sem imagem disponível</p>
    <% end %></li>
  <%= f.submit 'Salvar Bebida' %>
<% end %>
  <%= button_to "Deletar Bebida", restaurant_drink_path(current_user.restaurant, @drink ), method: :delete %> 