<h1><%= I18n.t('drinks.add_info') %>:</h1>

<% if @drink.errors.any? %>
  <ul>
    <% @drink.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [current_user.restaurant, @drink]) do |f| %>
  <dl class="row">
    <dt class="col-sm-2"><%= f.label :name %></dt>
    <dd class="col-sm-10"><%= f.text_field :name, class: "form-control" %></dd>

    <dt class="col-sm-2"><%= f.label :description %></dt>
    <dd class="col-sm-10"><%= f.text_field :description, class: "form-control" %></dd>

    <dt class="col-sm-2"><%= f.label :alcohol %></dt>
    <dd class="col-sm-10"><%= f.check_box :alcohol %></dd>

    <dt class="col-sm-2"><%= f.label :image %></dt>
    <dd class="col-sm-10">
      <%= f.file_field :image, class: "form-control" %>
      <% if @drink.image.attached? %>
        <p><%= image_tag @drink.image, size: "100x100", alt: @drink.name %></p>
      <% else %>
        <p><%= I18n.t('.no_img') %></p>
      <% end %>
    </dd>
  </dl>

  <%= f.submit I18n.t('drinks.save_drink'), class: "btn btn-primary" %>
<% end %>
