<table>
    <thead>
    <tr>
        <th><%= I18n.t('.picture')%> </th>
        <th><%= Drink.human_attribute_name(:name)%></th>
        <th><%= Drink.human_attribute_name(:description)%></th>
        <th><%= I18n.t('drinks.have_alcohol')%></th>
        <th><%= I18n.t('.contains')%></th>
        <th><%= Drink.human_attribute_name(:status)%></th>
        <th><%= I18n.t('.action')%></th>
    </tr>
    </thead>
    <tbody>
        <tr>
          <td>
            <% if @drink.image.attached? %>
              <%= image_tag @drink.image, size: "100x100", alt: @drink.name %>
            <% else %>
              <p><%= I18n.t('.no_img')%></p>
            <% end %>
          </td>
          <td> <%= @drink.name %> </td>
          <td> <%= @drink.description %> </td>
          <td> <%= @drink.alcohol ? 'Sim' : 'Não'  %> </td>
           <td> 
            <% @drink.features.each do |drink_feature| %>
              <%= drink_feature.name %>
            <% end %>
          </td>
          <td> <%= I18n.translate(@drink.status) %>
          </td>
          <td> <%= button_to 'Alterar Status', change_status_restaurant_drink_path(@restaurant, @drink) %></td>
          <td> <%= link_to "Editar #{@drink.name}", edit_restaurant_drink_path(current_user.restaurant, @drink) %></td>
        </tr>
 
    </tbody>
  </table>

<% if @drink.portions.present? %>
  <h2><%= I18n.t('drinks.portions_list')%>:</h2> 
    <table>
      <thead>
        <tr>
          <th><%= I18n.t('portions.description_of')%></th>
          <th><%= I18n.t('.price')%></th>
        </tr>
      </thead>
      <tbody>
        <% @drink.portions.each do |portion| %>
          <tr>
            <td><%= portion.description %></td>
            <td><%= portion.price_whole %>,<%= portion.price_cents %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <p><%= I18n.t('drinks.no_portion')%>.</p>
<% end %>

<p><%= link_to I18n.t('.portions.add_portion'),new_restaurant_drink_portion_path(@restaurant, @drink) %></p>
<%= link_to I18n.t('.go_back'), restaurant_drinks_path(@drink.restaurant) %>