<table>
    <thead>
    <tr>
        <th> Foto </th>
        <th>Nome da Bebida</th>
        <th>Descrição</th>
        <th>Possui Álcool</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
        <tr>
          <td>
            <% if @drink.image.attached? %>
              <%= image_tag @drink.image, size: "100x100", alt: @drink.name %>
            <% else %>
              <p>Sem imagem disponível</p>
            <% end %>
          </td>
          <td> <%= @drink.name %> </td>
          <td> <%= @drink.description %> </td>
          <td> <%= @drink.alcohol ? 'Sim' : 'Não'  %> </td>
          <td> <%= I18n.translate(@drink.status) %>
          </td>
          <td> <%= button_to 'Alterar Status', change_status_restaurant_drink_path(@restaurant, @drink) %></td>
          <td> <%= link_to "Editar #{@drink.name}", edit_restaurant_drink_path(current_user.restaurant, @drink) %></td>
        </tr>
 
    </tbody>
  </table>

<% if @drink.portions.present? %>
  <h2>Porções Cadastradas Para esta bebida:</h2> 
    <table>
      <thead>
        <tr>
          <th>Descrição da Porção</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <% @drink.portions.each do |portion| %>
          <tr>
            <td><%= portion.description %></td>
            <td><%= portion.price_whole %>,<%= portion.price_cents %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <p>Nenhuma porção cadastrada para esta bebida.</p>
<% end %>


<%= link_to 'Voltar', restaurant_drinks_path(@drink.restaurant) %>