<h1><%= I18n.t('operating_hours.create_new_hour')%></h1>

<%= form_with(model: [@restaurant, @operating_hour]) do |form| %>
  <div>
    <%= form.label :day %>
    <%= form.select :day, options_for_select(%w[segunda-feira terça-feira quarta-feira quinta-feira sexta-feira sábado domingo]) %>
  </div>
  <div>
    <%= form.label :open_time %>
    <%= form.time_select :open_time %>
  </div>
  <div>
    <%= form.label :close_time %>
    <%= form.time_select :close_time %>
  </div>
  <div>
    <%= form.check_box :closed %>
    <%= form.label :closed, "#{I18n.t('operating_hours.closed')}" %>
  </div>
  <div>
    <%= form.submit I18n.t('.save') %>
  </div>
<% end %>
