<h1>Adicione as informações do prato: </h1>
<p><%= link_to 'Adicionar característica', new_restaurant_dish_feature_path(restaurant: @restaurant, dish_id: @dish.id) %></p>
<% if @dish.errors.any? %>
  <ul>
    <% @dish.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [current_user.restaurant, @dish], local: true) do |f| %>
  <ul>
    <li><%= f.label :name %> <%= f.text_field :name %></li>
    <li><%= f.label :description %> <%= f.text_field :description %></li>
    <li><%= f.label :calories %> <%= f.text_field :calories %></li>
    <li>
      <%= f.label :image %> <%= f.file_field :image %>
      <% if @dish.image.attached? %>
        <%= image_tag @dish.image, size: "100x100", alt: @dish.name %>
      <% else %>
        <p>Sem imagem disponível</p>
      <% end %>
    </li>
    
    <% @dish.features.each do |dish_feature| %>
      <li>Contém: <%= dish_feature.name %></li>
    <% end %>
  </ul>
  <td><%= f.submit 'Salvar Prato' %></td>
<% end %>
  
<p> <%= button_to "Deletar prato", restaurant_dish_path(current_user.restaurant, @dish), method: :delete%></p>