<h1><%= I18n.t('.dishes.add_info')%> </h1>
<% if @dish.errors.any? %>
  <ul>
    <% @dish.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [current_user.restaurant, @dish], local: true) do |f| %>
  <ul>
    <li><%= f.label :name %> <%= f.text_field :name %></li>
    <li><%= f.label :description %> <%= f.text_field :description %></li>
    <li><%= f.label :calories %> <%= f.text_field :calories %></li>
    <li>
      <%= f.label :image %> <%= f.file_field :image %>
      <% if @dish.image.attached? %>
        <%= image_tag @dish.image, size: "100x100", alt: @dish.name %>
      <% else %>
        <p><%= I18n.t('.no_img')%></p>
      <% end %>
    </li>
    
    <% @dish.features.each do |dish_feature| %>
      <li><%= I18n.t('.contains')%>: <%= dish_feature.name %></li>
    <% end %>
  </ul>
  <p><%= I18n.t('.add_feature')%></p>
  <div>
    <% @features.each do |feature| %>
      <div>
        <%= check_box_tag "feature_ids[]", feature.id, params[:feature_ids]&.include?(feature.id.to_s) %>
        <%= label_tag "feature_ids_#{feature.id}", feature.name %>
      </div>
    <% end %>
  </div>

  <td><%= f.submit I18n.t('.dishes.save_dish') %></td>
<% end %>
  
<p> <%= button_to I18n.t('.dishes.del_dish'), restaurant_dish_path(current_user.restaurant, @dish), method: :delete%></p>