<h1><%= I18n.t('dishes.dish_list')%></h1>
<p><%= link_to I18n.t('dishes.new_dish'), new_restaurant_dish_path%></p>

<%= form_with(url: restaurant_dishes_path(@restaurant), method: :get, local: true) do %>
  <h3><%= I18n.t('dishes.filter_by_features') %>:</h3>
  <% @item_features.map(&:feature).uniq.each do |feature| %>
    <div>
      <%= check_box_tag "feature_ids[]", feature.id, params[:feature_ids]&.include?(feature.id.to_s) %>
      <%= label_tag "feature_ids_#{feature.id}", feature.name %>
    </div>
  <% end %>
  <%= submit_tag I18n.t('.filter') %>
<% end %>


<p><%= link_to I18n.t('dishes.feature_list'), restaurant_features_path %></p>
<% if @dishes.present? %> 
<table>
   <thead>
   <tr>
       <th><%= I18n.t('.picture')%></th>
       <th><%= Dish.human_attribute_name(:name)%></th>
       <th><%= Dish.human_attribute_name(:description)%></th>
       <th><%= I18n.t('.contains')%>:</th>
       <th><%= Dish.human_attribute_name(:status)%></th>
       <th><%= I18n.t('.action')%></th>
   </tr>
   </thead>
   <tbody>
    <% @dishes.each do |d| %>
      <tr>
        <td>
          <% if d.image.attached? %>
            <%= image_tag d.image, size: "100x100", alt: d.name %>
          <% else %>
            <p><%= I18n.t('.no_img')%></p>
          <% end %>
        </td>
        <td> <%= d.name %> </td>
        <td> <%= d.description %> </td>
        <td> 
          <% d.features.each do |dish_feature| %>
            <%= dish_feature.name %>
          <% end %>
        </td>
        <td> <%= I18n.t(d.status) %> </td>
        <td>  <%= link_to "#{I18n.t('.details')} #{d.name}", restaurant_dish_path(current_user.restaurant, d) %> |
        <%= link_to "#{I18n.t('.edit')} #{d.name}", edit_restaurant_dish_path(current_user.restaurant, d) %></td>
      </tr>
   <% end %>
   </tbody>
</table>
<% else %>
  <p><%= I18n.t('.dishes.no_dishes')%></p>
<% end %>