<h1><%= I18n.t('dishes.add_info') %>: </h1>

<% if @dish.errors.any? %>
  <ul>
    <% @dish.errors.full_messages.each do |msg | %>
    <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>


<div>
  <%= form_with(model: [current_user.restaurant, @dish], local: true) do  |f|  %>
    <dl>
      <dt><%= f.label :name%></dt>
      <dl><%= f.text_field :name %></dl>
      <dt><%= f.label :description%></dt>
      <dl><%= f.text_field :description %></dl>
      <dt><%= f.label :calories%></dt>
      <dl><%= f.text_field :calories %></dl>
      <dt><%= f.label :image %></dt>
      <dl><%= f.file_field :image %></dl>
    </dl>
    <%= f.submit I18n.t('dishes.save_dish') %>
  <% end %>
</div>