  <p><%= link_to 'Características adicionais', restaurant_features_path %></p>

<h1>Detalhes do prato</h1>

<table>
   <thead>
   <tr>
       <th>Foto </th>
       <th>Nome do Prato</th>
       <th>Descrição</th>
       <th>Calorias</th>
       <th>Contém</th>
       <th>Status</th>
       <th>Ações</th>
   </tr>
   </thead>
   <tbody>
      <tr>
        <td>
          <% if @dish.image.attached? %>
            <%= image_tag @dish.image, size: "100x100", alt: @dish.name %>
          <% else %>
            <p>Sem imagem disponível</p>
          <% end %>
        </td>
        <td> <%= @dish.name %> </td>
        <td> <%= @dish.description %> </td>
        <td> <%= @dish.calories %> </td>
        <td> 
          <% @dish.features.each do |dish_feature| %>
            <%= dish_feature.name %>
          <% end %>
        </td>
        <td> <%= I18n.translate(@dish.status) %> </td>
        <td> <%= button_to 'Alterar Status', change_status_restaurant_dish_path(@restaurant, @dish) %></td>
        <td> <%= link_to "Editar #{@dish.name}", edit_restaurant_dish_path(current_user.restaurant, @dish) %></td>
      </tr>
   </tbody>
</table>

<% if @dish.portions.present? %>
<h2>Porções Cadastradas Para este prato:</h2>
  <table>
    <thead>
      <tr>
        <th>Descrição da Porção</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <% @dish.portions.each do |portion| %>
        <tr>
          <td><%= portion.description %></td>
          <td><%= portion.price_whole %>,<%= portion.price_cents %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhuma porção cadastrada para este prato.</p>
<% end %>
<p><%= link_to 'Cadastrar porção',new_restaurant_dish_portion_path(@restaurant, @dish) %></p>
<%= link_to 'Voltar', restaurant_dishes_path(@dish.restaurant) %>