<h1><%= I18n.t('features.add_info')%>:</h1>

<% if @feature.errors.any? %>
  <ul>
    <% @feature.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [@restaurant, @feature], local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <%= f.submit I18n.t('features.save_feature') %>
<% end %>
