<h1>Adicione as informações da Característica:</h1>

<% if @feature.errors.any? %>
  <ul>
    <% @feature.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: [@restaurant, @feature], local: true) do |f| %>
  <%= f.label :name, 'Nome da característica' %>
  <%= f.text_field :name, required: true %>
  <%= f.submit 'Salvar Característica' %>
<% end %>
