<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to 'PaLevá', root_path%>
        
        <% if user_signed_in? %>          
          <% if current_user.restaurant&.persisted? %>
            <%= link_to I18n.t('.restaurant'), restaurant_path(current_user.restaurant) %>
            <% if current_user.owner? %>
              <%= link_to I18n.t('dishes.all_dish'), restaurant_dishes_path(current_user.restaurant) %>
              <%= link_to I18n.t('drinks.all_drink'), restaurant_drinks_path(current_user.restaurant) %>
              <%= link_to I18n.t('operating_hours.hours_list'), restaurant_operating_hours_path(current_user.restaurant) %> 

              <%= form_with(url:  search_restaurant_dishes_path(current_user.restaurant), method: :get ) do |f| %>
                <%= f.label :query, I18n.t('dishes.search_dish')%>
                <%= f.text_field :query, id: 'search_dish'%>
                <%= f.submit I18n.t('dishes.search_dishes')%>
              <% end %>

              <%= form_with(url:  search_restaurant_drinks_path(current_user.restaurant), method: :get ) do |f| %>
                <%= f.label :query, I18n.t('drinks.search_drink')%>
                <%= f.text_field :query, id: 'search_drink'%>
                <%= f.submit I18n.t('drinks.search_drinks')%>
             <% end %>
            <% end %>
          <% else %>
            <%= link_to I18n.t('restaurants.new_restaurant'), new_restaurant_path %>
          <% end %>

          <p>Olá, <%= current_user.first_name %> </p>
          <%= button_to I18n.t('.exit'),  destroy_user_session_path, method: :delete%>
          
         

        <% else %>
          <%= link_to I18n.t('.join'), new_user_session_path%>
        <% end %>
      </nav>
    </header>
    <main>
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
